{% extends 'base.html' %}

{% block title %}Musician List{% endblock %}

{% block content %}
<h2>Musicians Directory</h2>
<div class="d-flex justify-content-end mb-2">
    <a href="{% url 'add_musician' %}" class="btn btn-success">Add Musician</a>
    <a href="{% url 'add_album' %}" class="btn btn-primary ms-2">Add Album</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Musician Name</th>
            <th>Email</th>
            <th>Rating</th>
            <th>Instrument Type</th>
            <th>Album Name</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for musician in musicians %}
    {% if musician.album_set.all %}
        {% for album in musician.album_set.all %}
            <tr>
                <td>{{ musician.id }}</td>
                <td><a href="{% url 'edit_musician' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
                <td>{{ musician.email }}</td>
                <td>{{ album.rating }}</td>
                <td>{{ musician.instrument_type }}</td>
                <td>{{ album.album_name }}</td>
                <td>{{ album.release_date|date:"d-M-Y" }}</td>
                <td>
                    <a href="{% url 'edit_album' album.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_musician' album.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>{{ musician.id }}</td>
            <td><a href="{% url 'edit_musician' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
            <td>{{ musician.email }}</td>
            <td>N/A</td>
            <td>{{ musician.instrument_type }}</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>
                No albums available
            </td>
        </tr>
    {% endif %}
{% endfor %}

    </tbody>
</table>
{% endblock %}
